* {
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
}

/* html {
    background-color: rgb(214, 211, 211); 
} */

body {
    margin: 10% 5%;
    width: auto;
    height: 100%;
    background-color:#F6F6FA;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%; 
    background-color: white;
}

header {
    text-align: center;
}

section {
    width: 70%;
    padding: 25px;
    box-sizing: border-box;
}

aside {
    width: 30%;
    background-color: #D4EBF8;
    padding-top: 25px;
    justify-items: center;
    box-sizing: border-box;
}

.my_photo {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 25px;
}